// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.curr_match_header
{
    margin-bottom: 0;
}

.curr_match_color
{
    margin-top: 0;
    margin-bottom: 0;
}

.curr_match_name, .curr_match_score
{
    margin-top: 0;
}

.add_subtract_win_form, .quick_start_form
{
    display: inline;
}

.winning_team
{
    font-weight: bold
}

.losing_team
{
}

.forfeited_team
{
    text-decoration: line-through
}

.upcoming_team
{
}

.tbd_team
{
    font-style: italic
}

.forfeited_score
{
}
