// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winning_team
{
    font-weight: bold
}

.losing_team
{
}

.forfeited_team
{
    text-decoration: line-through
}

.upcoming_team
{
}

.tbd_team
{
    font-style: italic
}

.forfeited_score
{
}
